{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Edit Customer</h1>
    <form method="POST" class="customer-form">{% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="save btn btn-primary" style="background-color: darkcyan;
                                          border: none;
                                          color: white;
                                          padding: 5px 20px;
                                          text-align: center;
                                          text-decoration: none;
                                          display: inline-block;
                                          font-size: 16px;">Update</button>
    </form>
{% endblock %}
